<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <link rel="icon" href="data:,">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "default.css" %}" />
  <title>{{ title }}</title>

  <script language="JavaScript">
    function send(form) { }
  </script>
</head>

<body>
  <div id="container">
    <form id="form" name="vote" action="/" method="post">
      <div id="logo">{{ title }}</div>
      <div id="space"></div>
      <div id="form">
        <button name="vote" value="choicea" onclick="send()" class="button choicea">{{ button1 }}</button>
        <button name="vote" value="choiceb" onclick="send()" class="button choiceb">{{ button2 }}</button>
        <button name="vote" value="reset" onclick="send()" class="button reset">Reset</button>
        <div id="space"></div>
        <div id="results">{{ button1 }} - {{ value1 }} | {{ button2 }} - {{ value2 }}</div>
      </div>
    </form>
    <div id="space"></div>
    <div id="version">{{ frontend_version }} / {{ v1_backend_version }} / {{ v2_backend_version }}</div>
  </div>
</body>

</html>